@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4, text-dark">Welcome to CSA Lviv</h1>
    <img src="~/img/img_src_logo.jpg" alt="CSA Lviv" width="900" height="473" />
</div>
